h1 Pictures!
#images!= partial('image', {collection: images})
p
  form(action='/upload', method='post', enctype='multipart/form-data')
    input(type='file', name='upload', multiple='multiple')
    input(type='submit')
    